# Project setup

## Python modules import

In [ ]:
#import python modules
import pandas as pd
import numpy

from sklearn import preprocessing
from sklearn.feature_selection import SelectKBest,f_classif,mutual_info_classif


from sklearn.model_selection import StratifiedShuffleSplit,train_test_split,KFold,cross_val_score

from sklearn.naive_bayes import MultinomialNB

from sklearn.svm import SVC


from sklearn.metrics import accuracy_score

# Google Drive
from google.colab import drive

drive.mount("/content/gdrive/", force_remount = True)
print("Established access to Google Drive")
DRIVE_PATH = "/content/gdrive/My Drive/Team51_DM_Task2/"

Mounted at /content/gdrive/
Established access to Google Drive

## Reading  CSV Files

In [ ]:
#reading image file
image_file=pd.read_csv(DRIVE_PATH +"Images.csv",sep=";",skiprows=1,header=None,names=["imageID","imageclass"])
image_file.head()

   imageID imageclass
0        1  binocular
1        2      chair
2        3       tick
3        4    minaret
4        5      Faces

In [ ]:
#reading feature file
columnNames=["imageID"]
featurename="feature_{feature_no}"
for i in range(1,81):
    current_featurename=featurename.format(feature_no=i)
    columnNames.append(current_featurename)

print(columnNames)
feature_file=pd.read_csv(DRIVE_PATH +"EdgeHistogram.csv",sep=";",skiprows=1,header=None,names=columnNames)
feature_file.index = feature_file.index + 1
feature_file.head()

['imageID', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_15', 'feature_16', 'feature_17', 'feature_18', 'feature_19', 'feature_20', 'feature_21', 'feature_22', 'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32', 'feature_33', 'feature_34', 'feature_35', 'feature_36', 'feature_37', 'feature_38', 'feature_39', 'feature_40', 'feature_41', 'feature_42', 'feature_43', 'feature_44', 'feature_45', 'feature_46', 'feature_47', 'feature_48', 'feature_49', 'feature_50', 'feature_51', 'feature_52', 'feature_53', 'feature_54', 'feature_55', 'feature_56', 'feature_57', 'feature_58', 'feature_59', 'feature_60', 'feature_61', 'feature_62', 'feature_63', 'feature_64', 'feature_65', 'feature_66', 'feature_67', 'feature_68', 'feature_69', 'feature_70', 'feature_71', 'feature_72', 'feature_73', 'feature_74', 'feature_75', 'feature_76', 'feature_77', 'feature_78', 'feature_79', 'feature_80']

,imageID,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,feature_80
1,1,1,1,1,2,2,2,4,4,2,...,1,2,2,3,3,1,1,1,1,2
2,2,2,2,1,0,3,0,4,2,2,...,1,4,3,3,5,2,2,1,0,4
3,3,5,1,6,2,6,3,2,7,1,...,3,4,7,0,6,3,2,7,3,6
4,4,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,1,0,1
5,5,1,6,4,2,2,0,6,6,5,...,6,2,6,3,3,6,1,2,5,6

## Merging both CSV files data

In [ ]:
image_and_features_together_df=pd.merge(image_file, feature_file, on='imageID')

In [ ]:
#Defining two dataframes X and Y.
# Dataframe X: Contains all features
# Dataframe Y: Conatains all class labels
X=image_and_features_together_df.drop(['imageID','imageclass'],axis=1)
Y=image_and_features_together_df['imageclass']

# All Trials without Feature Engineering

## Selecting Best Features for using during Classification

In [ ]:
# Selecting 40 best features from 80
fs = SelectKBest(score_func=f_classif, k=40)
X_selected = fs.fit_transform(X,Y)
print(X_selected.shape)

(9144, 40)

## SVM Classifier

In [ ]:
# Training with 3,5,10,15 samples for each class and with multiple splits from Dataset
model = SVC(kernel="poly")
trial_set=[3,5,10,15]
test_scores=[]
for no in trial_set:
    print("Building models with train sets for each class as ",no)
    sss = StratifiedShuffleSplit(n_splits=5, train_size = 101*no, random_state=0)
    print(sss.get_n_splits(X_selected, Y))
    for train_index, test_index in sss.split(X_selected, Y):
        X_train, X_test = X_selected[train_index], X_selected[test_index]
        Y_train, Y_test = Y[train_index], Y[test_index]
        print(len(Y_train.unique()))
        model.fit(X_train, Y_train)
        y_hat = model.predict(X_test)
        acc = accuracy_score(Y_test, y_hat)
        print('Accuracy: %.3f' % acc)
        print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))
        print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))
        print('\n')
        test_scores.append(acc)
print("maximum accuracy for classification was",max(test_scores) )

Building models with train sets for each class as  3
5
101
Accuracy: 0.346
Training set score: 0.9703
Test set score: 0.3459


101
Accuracy: 0.347
Training set score: 0.9703
Test set score: 0.3466


101
Accuracy: 0.360
Training set score: 0.9637
Test set score: 0.3600


101
Accuracy: 0.356
Training set score: 0.9637
Test set score: 0.3563


101
Accuracy: 0.360
Training set score: 0.9604
Test set score: 0.3604


Building models with train sets for each class as  5
5
101
Accuracy: 0.374
Training set score: 0.9624
Test set score: 0.3741


101
Accuracy: 0.370
Training set score: 0.9426
Test set score: 0.3701


101
Accuracy: 0.358
Training set score: 0.9426
Test set score: 0.3580


101
Accuracy: 0.375
Training set score: 0.9644
Test set score: 0.3749


101
Accuracy: 0.379
Training set score: 0.9545
Test set score: 0.3790


Building models with train sets for each class as  10
5
101
Accuracy: 0.404
Training set score: 0.9574
Test set score: 0.4041


101
Accuracy: 0.405
Training set score: 0.9644
Test set score: 0.4055


101
Accuracy: 0.399
Training set score: 0.9564
Test set score: 0.3989


101
Accuracy: 0.409
Training set score: 0.9743
Test set score: 0.4087


101
Accuracy: 0.404
Training set score: 0.9604
Test set score: 0.4044


Building models with train sets for each class as  15
5
101
Accuracy: 0.442
Training set score: 0.9630
Test set score: 0.4417


101
Accuracy: 0.430
Training set score: 0.9558
Test set score: 0.4303


101
Accuracy: 0.422
Training set score: 0.9551
Test set score: 0.4215


101
Accuracy: 0.430
Training set score: 0.9512
Test set score: 0.4305


101
Accuracy: 0.433
Training set score: 0.9584
Test set score: 0.4326


maximum accuracy for classification was 0.4417354830252982

In [ ]:
# Only one split
model = SVC(kernel="poly")
X_train, X_test, Y_train, Y_test = train_test_split(X_selected, Y, stratify=Y)
# print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
# print(len(Y_train.unique()))
model.fit(X_train, Y_train)
y_hat = model.predict(X_test)
acc = accuracy_score(Y_test, y_hat)
print('Accuracy: %.3f' % acc)
print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))
print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))

Accuracy: 0.507
Training set score: 0.9493
Test set score: 0.5066

In [ ]:
# Training with entire dataset and best 40 features
model2 = SVC(kernel="poly")
model2.fit(X_selected,Y)
print("accuracy",model2.score(X_selected,Y))

accuracy 0.9424759405074365

In [ ]:
# Training with entire dataset and all 80 features
model2 = SVC(kernel="poly")
model2.fit(X,Y)
print("accuracy",model2.score(X,Y))

accuracy 0.5787401574803149

## Naives Bayes Classifier

In [ ]:
# Training with 3,5,10,15 samples for each class and with multiple splits from Dataset
model = MultinomialNB()
trial_set=[3,5,10,15]
test_scores=[]
for no in trial_set:
    print("Building models with train sets for each class as ",no)
    sss = StratifiedShuffleSplit(n_splits=5, train_size = 101*no, random_state=0)
    print(sss.get_n_splits(X_selected, Y))
    for train_index, test_index in sss.split(X_selected, Y):
        X_train, X_test = X_selected[train_index], X_selected[test_index]
        Y_train, Y_test = Y[train_index], Y[test_index]
        print(len(Y_train.unique()))
        model.fit(X_train, Y_train)
        y_hat = model.predict(X_test)
        acc = accuracy_score(Y_test, y_hat)
        print('Accuracy: %.3f' % acc)
        print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))
        print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))
        print('\n')
        test_scores.append(acc)

print("maximum accuracy for classification was",max(test_scores) )

Building models with train sets for each class as  3
5
101
Accuracy: 0.352
Training set score: 0.8614
Test set score: 0.3521


101
Accuracy: 0.353
Training set score: 0.8713
Test set score: 0.3535


101
Accuracy: 0.360
Training set score: 0.8482
Test set score: 0.3598


101
Accuracy: 0.356
Training set score: 0.8515
Test set score: 0.3555


101
Accuracy: 0.360
Training set score: 0.8746
Test set score: 0.3603


Building models with train sets for each class as  5
5
101
Accuracy: 0.372
Training set score: 0.7683
Test set score: 0.3718


101
Accuracy: 0.364
Training set score: 0.7426
Test set score: 0.3638


101
Accuracy: 0.358
Training set score: 0.7723
Test set score: 0.3584


101
Accuracy: 0.363
Training set score: 0.7663
Test set score: 0.3635


101
Accuracy: 0.372
Training set score: 0.7584
Test set score: 0.3716


Building models with train sets for each class as  10
5
101
Accuracy: 0.394
Training set score: 0.6188
Test set score: 0.3939


101
Accuracy: 0.397
Training set score: 0.6099
Test set score: 0.3973


101
Accuracy: 0.396
Training set score: 0.6079
Test set score: 0.3957


101
Accuracy: 0.400
Training set score: 0.6317
Test set score: 0.4004


101
Accuracy: 0.386
Training set score: 0.6139
Test set score: 0.3863


Building models with train sets for each class as  15
5
101
Accuracy: 0.409
Training set score: 0.5558
Test set score: 0.4092


101
Accuracy: 0.408
Training set score: 0.5630
Test set score: 0.4079


101
Accuracy: 0.401
Training set score: 0.5545
Test set score: 0.4007


101
Accuracy: 0.402
Training set score: 0.5670
Test set score: 0.4020


101
Accuracy: 0.412
Training set score: 0.5703
Test set score: 0.4118


maximum accuracy for classification was 0.411849521562459

In [ ]:
# Only one split
model = MultinomialNB()
X_train, X_test, Y_train, Y_test = train_test_split(X_selected, Y, stratify=Y)
# print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
# print(len(Y_train.unique()))
model.fit(X_train, Y_train)
y_hat = model.predict(X_test)
acc = accuracy_score(Y_test, y_hat)
print('Accuracy: %.3f' % acc)
print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))
print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))

Accuracy: 0.427
Training set score: 0.4739
Test set score: 0.4269

In [ ]:
# Training with entire dataset and with best 40 features
model = MultinomialNB()
model.fit(X_selected,Y)
print("Accuracy",model.score(X_selected,Y))

Accuracy 0.46500437445319337

In [ ]:
# Training with entire dataset along with all 80 features and not best 40features
model = MultinomialNB()
model.fit(X,Y)
print("Accuracy",model.score(X,Y))

Accuracy 0.48414260717410323

# Feature Engineering

## function definitions and feature engineering to obtain features

In [ ]:
def get_features(list_columnNames,newFeatureColumnName):
    mergedFeatures=image_and_features_together_df[list_columnNames].copy()
    mergedFeatures[newFeatureColumnName]=mergedFeatures.values.tolist()
    mergedFeatures['imageID']=image_and_features_together_df['imageID'].copy()
    return mergedFeatures

def find_max(x):
    return max(x)

In [ ]:
i=1
featurename="feature_{feature_no}"
finalFeatures=image_and_features_together_df['imageID']
# print(finalFeatures)
new_feature_no=1
while(i<=80):
    DF_listFeatures=pd.DataFrame()
    columnListToMerge=[featurename.format(feature_no=i),featurename.format(feature_no=i+1),featurename.format(feature_no=i+2),featurename.format(feature_no=i+3),featurename.format(feature_no=i+4)]
    newFeature="mergedFeature_{feature_no}"
    newFeatureColumnName=newFeature.format(feature_no=new_feature_no)
    DF_listFeatures=get_features(columnListToMerge,newFeatureColumnName)
    # print(DF_listFeatures)
    mergedWithOldFeatures=pd.merge(finalFeatures,DF_listFeatures,on='imageID')
    i=i+5
    new_feature_no=new_feature_no+1
    finalFeatures=mergedWithOldFeatures
    finalFeatures.drop(columns=columnListToMerge,axis=1,inplace=True)
    # print(finalFeatures)

print(finalFeatures)

      imageID  mergedFeature_1  mergedFeature_2  mergedFeature_3  \
0           1  [1, 1, 1, 2, 2]  [2, 4, 4, 2, 2]  [2, 2, 3, 3, 3]
1           2  [2, 2, 1, 0, 3]  [0, 4, 2, 2, 4]  [0, 5, 0, 0, 4]
2           3  [5, 1, 6, 2, 6]  [3, 2, 7, 1, 6]  [4, 1, 7, 0, 6]
3           4  [0, 0, 0, 0, 0]  [0, 0, 1, 0, 1]  [0, 0, 2, 0, 1]
4           5  [1, 6, 4, 2, 2]  [0, 6, 6, 5, 4]  [1, 7, 1, 5, 3]
...       ...              ...              ...              ...
9139     9140  [5, 3, 1, 4, 1]  [2, 5, 4, 4, 3]  [2, 5, 4, 5, 3]
9140     9141  [0, 0, 5, 1, 2]  [1, 0, 7, 3, 6]  [3, 1, 3, 7, 4]
9141     9142  [3, 3, 2, 1, 2]  [0, 5, 4, 3, 3]  [1, 4, 2, 3, 4]
9142     9143  [0, 0, 0, 0, 0]  [0, 0, 1, 0, 0]  [1, 3, 5, 1, 4]
9143     9144  [5, 3, 0, 1, 1]  [3, 5, 2, 1, 1]  [4, 2, 0, 3, 1]

      mergedFeature_4  mergedFeature_5  mergedFeature_6  mergedFeature_7  \
0     [2, 3, 3, 3, 2]  [5, 0, 1, 1, 0]  [3, 1, 2, 3, 1]  [6, 1, 5, 4, 2]
1     [2, 3, 0, 0, 3]  [5, 1, 2, 2, 5]  [3, 1, 4, 2, 7]  [0, 1, 0, 0, 7]
2     [3, 3, 3, 1, 6]  [4, 2, 5, 4, 5]  [2, 5, 6, 4, 4]  [3, 4, 3, 5, 5]
3     [0, 0, 1, 0, 1]  [0, 0, 1, 0, 2]  [0, 0, 0, 0, 0]  [0, 1, 3, 1, 3]
4     [5, 1, 4, 4, 6]  [3, 0, 3, 2, 4]  [2, 3, 6, 3, 4]  [4, 3, 4, 7, 3]
...               ...              ...              ...              ...
9139  [3, 4, 5, 3, 3]  [6, 1, 4, 1, 2]  [4, 2, 6, 6, 6]  [4, 3, 6, 5, 5]
9140  [0, 0, 0, 2, 2]  [2, 1, 7, 1, 7]  [1, 1, 2, 7, 7]  [1, 1, 2, 7, 6]
9141  [3, 4, 1, 3, 2]  [4, 2, 2, 2, 2]  [4, 3, 5, 5, 2]  [3, 3, 3, 7, 2]
9142  [0, 1, 4, 1, 2]  [1, 1, 2, 1, 1]  [2, 4, 4, 4, 5]  [1, 5, 2, 3, 3]
9143  [5, 1, 0, 0, 1]  [4, 2, 1, 0, 1]  [2, 4, 1, 3, 1]  [3, 2, 4, 4, 5]

      mergedFeature_8  mergedFeature_9 mergedFeature_10 mergedFeature_11  \
0     [7, 0, 1, 2, 1]  [5, 0, 1, 2, 0]  [4, 0, 2, 3, 2]  [5, 1, 2, 2, 1]
1     [3, 0, 0, 1, 3]  [6, 1, 2, 3, 3]  [2, 2, 4, 5, 7]  [1, 2, 2, 2, 7]
2     [1, 4, 6, 1, 6]  [4, 0, 6, 5, 7]  [5, 0, 3, 2, 4]  [6, 1, 4, 6, 2]
3     [1, 1, 4, 2, 3]  [2, 1, 5, 4, 4]  [1, 2, 5, 2, 4]  [0, 1, 2, 0, 2]
4     [6, 2, 3, 5, 4]  [4, 2, 6, 7, 5]  [6, 1, 5, 7, 3]  [7, 1, 5, 6, 2]
...               ...              ...              ...              ...
9139  [5, 1, 3, 5, 4]  [7, 1, 2, 6, 4]  [4, 3, 5, 7, 4]  [3, 4, 6, 6, 4]
9140  [1, 2, 3, 7, 3]  [1, 1, 5, 7, 6]  [0, 1, 6, 6, 7]  [1, 1, 1, 7, 6]
9141  [6, 2, 3, 2, 2]  [5, 2, 2, 4, 2]  [4, 3, 4, 7, 2]  [4, 3, 6, 5, 3]
9142  [4, 4, 2, 2, 2]  [1, 2, 1, 4, 3]  [3, 3, 2, 5, 4]  [1, 2, 3, 2, 2]
9143  [5, 0, 1, 2, 1]  [5, 2, 1, 4, 2]  [2, 4, 6, 5, 5]  [5, 2, 5, 4, 6]

     mergedFeature_12 mergedFeature_13 mergedFeature_14 mergedFeature_15  \
0     [6, 1, 3, 2, 2]  [1, 3, 3, 6, 6]  [1, 3, 5, 5, 5]  [1, 2, 2, 3, 3]
1     [3, 0, 2, 0, 5]  [3, 3, 2, 0, 4]  [1, 5, 5, 3, 4]  [1, 4, 3, 3, 5]
2     [3, 2, 7, 1, 6]  [6, 0, 4, 6, 5]  [6, 1, 6, 4, 5]  [3, 4, 7, 0, 6]
3     [0, 0, 0, 0, 1]  [1, 0, 1, 5, 3]  [0, 0, 1, 0, 1]  [0, 0, 1, 0, 1]
4     [6, 1, 4, 4, 6]  [4, 2, 5, 4, 7]  [5, 3, 1, 6, 4]  [6, 2, 6, 3, 3]
...               ...              ...              ...              ...
9139  [4, 2, 6, 2, 5]  [7, 0, 2, 5, 4]  [3, 3, 5, 4, 6]  [2, 4, 4, 6, 5]
9140  [2, 1, 6, 6, 4]  [0, 0, 0, 4, 1]  [0, 1, 4, 7, 6]  [1, 1, 7, 3, 7]
9141  [4, 2, 3, 4, 3]  [3, 3, 6, 2, 5]  [3, 2, 3, 6, 3]  [1, 3, 6, 1, 2]
9142  [2, 0, 1, 2, 2]  [4, 0, 1, 2, 2]  [3, 1, 1, 1, 2]  [2, 0, 2, 1, 1]
9143  [3, 1, 4, 2, 4]  [5, 1, 6, 2, 1]  [0, 5, 2, 1, 1]  [0, 4, 1, 5, 1]

     mergedFeature_16
0     [1, 1, 1, 1, 2]
1     [2, 2, 1, 0, 4]
2     [3, 2, 7, 3, 6]
3     [0, 0, 1, 0, 1]
4     [6, 1, 2, 5, 6]
...               ...
9139  [5, 0, 6, 5, 6]
9140  [1, 0, 4, 1, 3]
9141  [2, 3, 4, 4, 4]
9142  [0, 0, 0, 0, 0]
9143  [2, 3, 3, 5, 1]

[9144 rows x 17 columns]

In [ ]:
finalFeatures.drop('imageID',axis=1,inplace=True)

for column in finalFeatures:
    finalFeatures[column] = finalFeatures[column].apply(find_max)

print(finalFeatures)

      mergedFeature_1  mergedFeature_2  mergedFeature_3  mergedFeature_4  \
0                   2                4                3                3
1                   3                4                5                3
2                   6                7                7                6
3                   0                1                2                1
4                   6                6                7                6
...               ...              ...              ...              ...
9139                5                5                5                5
9140                5                7                7                2
9141                3                5                4                4
9142                0                1                5                4
9143                5                5                4                5

      mergedFeature_5  mergedFeature_6  mergedFeature_7  mergedFeature_8  \
0                   5                3                6                7
1                   5                7                7                3
2                   5                6                5                6
3                   2                0                3                4
4                   4                6                7                6
...               ...              ...              ...              ...
9139                6                6                6                5
9140                7                7                7                7
9141                4                5                7                6
9142                2                5                5                4
9143                4                4                5                5

      mergedFeature_9  mergedFeature_10  mergedFeature_11  mergedFeature_12  \
0                   5                 4                 5                 6
1                   6                 7                 7                 5
2                   7                 5                 6                 7
3                   5                 5                 2                 1
4                   7                 7                 7                 6
...               ...               ...               ...               ...
9139                7                 7                 6                 6
9140                7                 7                 7                 6
9141                5                 7                 6                 4
9142                4                 5                 3                 2
9143                5                 6                 6                 4

      mergedFeature_13  mergedFeature_14  mergedFeature_15  mergedFeature_16
0                    6                 5                 3                 2
1                    4                 5                 5                 4
2                    6                 6                 7                 7
3                    5                 1                 1                 1
4                    7                 6                 6                 6
...                ...               ...               ...               ...
9139                 7                 6                 6                 6
9140                 4                 7                 7                 4
9141                 6                 6                 6                 4
9142                 4                 3                 2                 0
9143                 6                 5                 5                 5

[9144 rows x 16 columns]

In [ ]:
X=finalFeatures
Y=image_and_features_together_df['imageclass']

print("features are:\n")
print(X)
# print("classes are: \n")
# print(Y)

features are:

      mergedFeature_1  mergedFeature_2  mergedFeature_3  mergedFeature_4  \
0                   2                4                3                3
1                   3                4                5                3
2                   6                7                7                6
3                   0                1                2                1
4                   6                6                7                6
...               ...              ...              ...              ...
9139                5                5                5                5
9140                5                7                7                2
9141                3                5                4                4
9142                0                1                5                4
9143                5                5                4                5

      mergedFeature_5  mergedFeature_6  mergedFeature_7  mergedFeature_8  \
0                   5                3                6                7
1                   5                7                7                3
2                   5                6                5                6
3                   2                0                3                4
4                   4                6                7                6
...               ...              ...              ...              ...
9139                6                6                6                5
9140                7                7                7                7
9141                4                5                7                6
9142                2                5                5                4
9143                4                4                5                5

      mergedFeature_9  mergedFeature_10  mergedFeature_11  mergedFeature_12  \
0                   5                 4                 5                 6
1                   6                 7                 7                 5
2                   7                 5                 6                 7
3                   5                 5                 2                 1
4                   7                 7                 7                 6
...               ...               ...               ...               ...
9139                7                 7                 6                 6
9140                7                 7                 7                 6
9141                5                 7                 6                 4
9142                4                 5                 3                 2
9143                5                 6                 6                 4

      mergedFeature_13  mergedFeature_14  mergedFeature_15  mergedFeature_16
0                    6                 5                 3                 2
1                    4                 5                 5                 4
2                    6                 6                 7                 7
3                    5                 1                 1                 1
4                    7                 6                 6                 6
...                ...               ...               ...               ...
9139                 7                 6                 6                 6
9140                 4                 7                 7                 4
9141                 6                 6                 6                 4
9142                 4                 3                 2                 0
9143                 6                 5                 5                 5

[9144 rows x 16 columns]

## SVM Classifier

In [ ]:
model = SVC(kernel="poly")
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
print(len(Y_train.unique()))
model.fit(X_train, Y_train)
yhat = model.predict(X_test)
acc = accuracy_score(Y_test, yhat)
print('Accuracy: %.3f' % acc)
print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))
print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))

(6858, 16) (2286, 16) (6858,) (2286,)
101
Accuracy: 0.322
Training set score: 0.6085
Test set score: 0.3224

In [ ]:
# Training with entire dataset and all 16 features
model = SVC(kernel="poly")
model.fit(X,Y)
print("accuracy",model.score(X,Y))

accuracy 0.5787401574803149

## Naive Bayes Classifier

In [ ]:
model = MultinomialNB()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
print(len(Y_train.unique()))
model.fit(X_train, Y_train)
yhat = model.predict(X_test)
acc = accuracy_score(Y_test, yhat)
print('Accuracy: %.3f' % acc)
print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))
print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))

(6858, 16) (2286, 16) (6858,) (2286,)
101
Accuracy: 0.232
Training set score: 0.2451
Test set score: 0.2318

In [ ]:
# Training with entire dataset along with all 16 features
model = MultinomialNB()
model.fit(X,Y)
print("Accuracy",model.score(X,Y))

Accuracy 0.2443132108486439